

.hero-section {
    background-color: #FFFFFF;
}

.hero-section .display-4 {
    text-transform: uppercase;
    color: #FF3147;
    font-size: 30px;
    font-family: "Cormorant SC", serif;
    font-weight: 600;
    font-style: normal;
}
.hero-section .display-5 {
    color: #000000;
    font-size: 60px;
    font-family: "Cormorant SC", serif;
  font-weight: 700;
  font-style: normal;
    
}

.hero-section p {
    font-size: 16px;
    margin: 20px 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.hero-section .btn-danger {
    background-color: #e74c3c;
    border-color: #e74c3c;
    padding: 10px 20px;
    margin-bottom: 10px;
    
}

.hero-section .img-fluid {
    max-width: 100%;
    min-width: 100%;
    height: auto;
    max-height: 550px;
    margin-left: 30px;
}
.hero-section button {
    font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 2px;
}
.what-we-do{
    background-color: #FAFAFA ;
    padding: 20px;
   
}
.what-we-do h1{
    font-family: "Cormorant SC", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 45px;
  text-transform: uppercase;
}
.what-we-do h2{
    font-family: "Cormorant SC", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
  text-transform: uppercase;
}
.what-we-do .card {
    position: relative;
    overflow: hidden;
}
.what-we-do p{
    font-size: 16px;
    margin: 20px 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

}
.blockquote footer img{
    width: 20px;
}
.what-we-do .card img {
    transition: transform 0.3s ease;
}

.what-we-do .card:hover img {
    transform: scale(1.1);
}

.hover-card .hover-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e74c3c;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.hover-card:hover .hover-content {
    opacity: 1;
}

.hover-content .hover-text {
   
    border-radius: 5px;
opacity: 0.86;
    text-align: center;
    padding: 20px;
}

.hover-content .hover-text h5 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.hover-content .hover-text p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.hover-content .hover-text a {
    background-color: #fff;
    color: #e74c3c;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.hover-content .hover-text a:hover {
   transform: scale(1.01);
}

.carousel-slide {
    position: relative;
}

.carousel-indicators {
    position: absolute;
    bottom: -30px; 
    left: 50%;
    transform: translateX(-65%); 
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-left: 0;
    list-style: none;
}

.carousel-indicators li {
    min-width: 4px; 
    min-height: 4px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid transparent;
    margin: 0 5px;
    cursor: pointer;
    background: url('../assets/icons/dot.svg') no-repeat center center;
    background-size: contain;
}

.carousel-indicators .active {
    width: 18px; 
    height:18px;
    background-color: transparent;
    border: 0.5px solid #e74c3c;
    background: url('../assets/icons/redDot.svg') no-repeat center center;
    background-size: contain;
}

.our-project h2{
color: #FF3147;
font-family: "Cormorant SC", serif;
font-weight: 600;
font-style: normal;
font-size: 24px;
}
.our-project h3{
color: #000;
font-size: 45px;
font-family: "Cormorant SC", serif;
font-weight: 700;
font-style: normal;
}

.our-project .list-group h5{
font-size: 20px;
font-family: "Poppins", sans-serif;
font-weight: 500;
font-style: normal;}
.our-project .list-group p{
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #000;
}
.our-project .list-group-item {
    transition: background-color 0.3s ease;
}

.our-project .list-group-item.active {
    background-color: #e74c3c;
    color: #fff;
}

.our-project .list-group-item h5, .our-project .list-group-item p {
    margin: 0;
}
.company-growth{
    background: #FAFAFA 0% 0% no-repeat padding-box;
}
.company-growth .display-4{
    font-size: 24px;
    color:#FF3147;
    font-weight: 500;
}

.h1{
    font-size: 24px;
    color:#FF3147;
    font-family: "Cormorant SC", serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
}
.h2{
    font-size: 45px;
    font-family: "Cormorant SC", serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}
.growth-icon h3{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 60px;
}
.growth-icon p{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}
.company-growth .display-5{
    font-size: 45px;
    color:#000000;
    font-weight: bold;
}
.company-growth .growth-card {
    border: 1px solid #eee;
    background-color: #FFFFFF;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.company-growth .growth-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.client-feedback {
    background: #ffffff 0% 0% no-repeat padding-box;
}

.client-feedback h1 {
    font-family: "Cormorant SC", serif;
    font-weight: 600;   
    font-style: normal;
    font-size: 24px;
    color: #FF3147;
}

.client-feedback h2 {
    font-family: "Cormorant SC", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 45px;
    color: black;
}

.client-feedback p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #000000;
}

.client-feedback footer {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FF3147;
    font-size: 20px;
}

.client-feedback footer cite {
    color: #808080;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.logos {
    background-color: #e74c3c;
    padding: 50px 0;
}

.logos img {
    max-width: 100px; 
}


.modal-content {
    border-radius: 10px;
    padding: 20px;
}

.modal-header {
    border-bottom: none;
    padding-bottom: 0;
}

.modal-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.modal-body {
    margin-top: 15px;
    padding-top: 0;
}

.form-group {
    position: relative;
    display: flex;
    margin-bottom: 1.5rem;
}


.form-group input {
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    outline: none;
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    background: transparent;
    box-shadow: none;
}
.check{
    margin-left: 20px;
}

.check label{
    color:gray;
}
.form-group input::placeholder {
    color: gray;
}

.form-group input:not(:placeholder-shown) {
    border-bottom: 2px solid #e74c3c;
}

.form-group input:not(:placeholder-shown) + label,
.form-group input:focus + label {
    top: -20px;
    font-size: 0.85em;
    color: #e74c3c;
    border: transparent;
}

.btn-danger {
    margin-top: 10px;
    background-color: #e74c3c;
    border-color: #e74c3c;
    font-size: 1.2em;
    padding: 10px 0;
}

.btn-block {
    display: block;
    width: 100%;
}

.modal-header .close {
    outline: none;
    font-size: 1.5rem;
}

.modal-header .close span {
    color: #000;
}

